@model List<Mascota>
@using MvcCoreSession.Helpers
@{
    //------Bytes-------
    // byte[] data = Context.Session.Get("MASCOTA");
    // Mascota mascota = null;

    // if (data != null)
    // {
    //     mascota = HelperBinarySession.ByteToObject(data) as Mascota;
    // }
    //------JSON-------
    string data = Context.Session.GetString("MASCOTAJSON");
    Mascota mascota = null;

    if (data != null)
    {
        mascota = HelperJsonSession.DeserializeObject<Mascota>(data);
    }
    //-----Generico-----
    Mascota tortu = Context.Session.GetObject<Mascota>("MASCOTAGENERIC");
}

<h1>Ejemplos Session</h1>

<h2 style="color:blue">
    @Context.Session.GetString("nombre")
</h2>
<h2 style="color:red">
    @Context.Session.GetString("hora")
</h2>
@if (mascota != null)
{     
    <p style="color:fuchsia">
        Nombre: @mascota.Nombre, Raza: @mascota.Raza, Edad: @mascota.Edad
    </p>
}
@if (tortu != null)
{
    <p style="color:green">
        Nombre: @tortu.Nombre, Raza: @tortu.Raza, Edad: @tortu.Edad
    </p>
}

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionSimple">Session Simple</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaBytes">Session Mascota</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaCollection">Session Mascotas Collection</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaJson">Session Mascotas JSON</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaGeneric">Session Mascotas Generic</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotasCollectionGeneric">Session Mascotas Collection Generic</a>
    </li>
</ul>


@if (Model != null)
{
    <h1 style="color:blue">Mascotas ContextAccessor</h1>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Raza
                </th>
                <th>
                    Edad
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}